{% extends "base_col_1.html" %}
{% block title %}Register{% endblock %}

{% block pageContent %}

            <h1>Register</h1>
            <strong>{{ message }}</strong>
            <form method="POST">
                <div class="form-group">
                    {{ form.firstName.label(class_="form-label") }}
                    {{ form.firstName(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.lastName.label(class_="form-label") }}
                    {{ form.lastName(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class_="form-label") }}
                    {{ form.password(class_="form-control") }}
                </div>

                {{ form.submit(class_="btn btn-success pull-right") }}

            </form>

{% endblock %}