{% extends "base_col_1.html" %}
{% block title %}Product page{% endblock %}

{% block pageContent %}

    {% set url = "/product/" + product.slug %}
    {% set imageSRC = "images/" + product.image %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{product.name}}</h2>
            </div>
            <div class="panel-body">
                <div class="img-block">
                    <img src="{{ url_for('static', filename=imageSRC)}}" width="100%"/>
                </div>
            </div>
            <div class="panel-footer">
                <div class="container">
                    <div class="label label-default">Price: {{ product.price }}</div>
                    <form method="POST" action="/order/add-item">
                        <input type="hidden" name="product_id" value="{{ product.slug }}" />

                        <button type="submit" class="btn btn-success" id="buy-now">Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>


    $(function() {
    $('#buy-nowq').click(function() {
    console.log('running');
        $.ajax({
            url: '/order/add-item',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log('a');
                console.log(response);
            },
            error: function(error) {
                console.log('b');
                console.log(error);
            }
        });
    });
});
</script>
{% endblock %}